<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
	<body>
		<h1 th:text="${titulo} "></h1>
		<ul>
			<li>
				<a th:href="@{/variables/string/} + 'Hola Andrés Guzmán'">/variables/string/Hola Andrés Guzmán</a>
			</li>
				<li>
				<a th:href="@{/variables/string/} + 'Qué tal John'">/variables/string/Qué tal John</a>
			</li>
			<li>
				<a th:href="@{/variables/string/} + 'Saludos Andrés' + '/' + 7">/variables/string/Saludos Andrés/7</a>
			</li>
		</ul>
	</body>
	</html>